@charset 'utf-8';

#app .container {
  height: 100%;
}

.sleeve-bg {
  background: linear-gradient(110deg, #e98065 60%, lighten(#e98065, 20%));
}

.blue-gradient {
  background: linear-gradient(110deg, #2196F3, #4fc3f7);
}
